[Unit]
Description=Flask Application
[Service]
EnvironmentFile=/opt/flask-app/venv/bin/activate
User=pythonadm
WorkingDirectory=/opt/flask-app
ExecStart=/bin/bash -c 'cd /opt/flask-app && source ./venv/bin/activate && ./venv/bin/python ./run.py'
[Install]
WantedBy=multi-user.target
