<!DOCTYPE html>
<html>
<head>
<title>{{ title }} - Page</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="/static/styles.css">

</head>
<body>
	{% if current_user.is_authenticated %}
	<ul>
		<li style="float:right;"><a style="color:black;" href="{{ url_for('logout') }}">Log out</a></li>
		<a href="{{ url_for('homeuser', user_id=current_user.id) }}"><li>Home</li></a>
		<a href="{{ url_for('about') }}"><li>About</li></a>
		<a href="{{ url_for('post') }}"><li>Add Pokemon</li></a>
		<a href="{{ url_for('account') }}"><li>Account</li></a>
	</ul>
	{% else %}
		<a style="color:black;" href="{{ url_for('register') }}">Register</a>
		<a style="color:black;" href="{{ url_for('login') }}">Log in</a>
		<a style="color:black;" href="{{ url_for('home') }}">Home</a>
		<a style="color:black;" href="{{ url_for('about') }}">About</a>
	{% endif %}


{% block body_content %}{% endblock %}

</body>
</html>