<!DOCTYPE html>
<html>
<head>
<title>{{ title }} - Page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	{% if current_user.is_authenticated %}
		<a href="{{ url_for('logout') }}">Log out</a>
		<a href="{{ url_for('homeuser') }}">Home</a>
		<a href="{{ url_for('about') }}">About</a>
		<a href="{{ url_for('post') }}">Add Pokemon</a>
		<a href="{{ url_for('account') }}">Account</a>
	{% else %}
		<a href="{{ url_for('register') }}">Register</a>
		<a href="{{ url_for('login') }}">Log in</a>
		<a href="{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('about') }}">About</a>
	{% endif %}

<div class="jumbotron text-center">
	
</div>
{% block body_content %}{% endblock %}

</body>
</html>