{% extends "layout.html" %}
{% block body_content %}
<div class="accounts">
	<h1>Login Page</h1>
	<p>Enter your Email & Password!</p>
	
<div class="form">
	<form method="POST" action="">
		{{ form.hidden_tag() }}

		{{ form.email.label }}<br>
		{% if form.email.errors %}
		{{ form.email }}
		<div class="error">
			{% for error in form.email.errors %}
			<span>{{ error }}</span>
			{% endfor %}
		</div>
		{% else %}
			{{ form.email(class="poke") }}
		{% endif %}

		<br><br>

		{{ form.password.label }}
		<br>
		{% if form.password.errors %}
		{{ form.password }}
		<div class="error">
			{% for error in form.password.errors %}
			<span>{{ error }}</span>
			{% endfor %}
		</div>
		{% else %}
			{{ form.password(class="poke") }}
		{% endif %}

		<br><br>
		<div class="form-group">
			{{ form.remember.label }}
			{{ form.remember }}
		</div>


		{{ form.submit(class="poke") }}


	</form>
</div>
</div>
{% endblock body_content %}