{% extends "layout.html" %}
{% block body_content %}
<div class="add">
<h1>Add a Pokemon</h1>
<p>Add new pokemon to your pokedex</p>

<div class="form">
	<form method="POST" action="", enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<br>

		{{ form.title.label }}
		<br>
		{% if form.title.errors %}
			{{ form.title }}
			<div class="error">
				{% for error in form.title.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.title(class="poke") }}
		{% endif %}

		<br><br>

		{{ form.content.label }}
		<br>
		{% if form.content.errors %}
		{{ form.content }}
		<div class="error">
			{%for error in form.content.errors %}
			<span>{{ error }}</span>
			{% endfor %}
		</div>
		{% else %}
			{{ form.content(class="poke") }}
		{% endif %}

		<br><br>

		{{ form.level.label }}
		<br>
		{% if form.level.errors %}
		{{ form.level }}
		<div class="error">
			{% for error in form.level.errors %}
			<span>{{ error }}</span>
			{% endfor %}
		</div>
		{% else %}
			{{ form.level(class="poke") }}
		{% endif %}

		<br><br>

		{{ form.picture.label }}
		{% if form.picture.errors %}
		{{ form.picture }}
		<div class="error">
			{%for error in form.picture.errors %}
			<span>{{ error }}</span>
			{% endfor %}
		</div>
		{% else %}
			{{ form.picture(class="poke2") }}
		{% endif %}

		<br><br>

		{{ form.submit(class="poke") }}
	</form>
</div>
</div>

{% endblock body_content %}