{% extends "layout.html" %}
{% block body_content %}
<div class="accounts">
<h1>Sign Up</h1>
<img class="ball" src="static/pokeball.jpg">
<p>Enter your Details</p>

<div class="form">
	<form method="POST" action="">
		{{ form.hidden_tag() }}

		{{ form.first_name.label }}<br>
		{% if form.first_name.errors %}
		{{ form.first_name }}
		<div class="error">
			{% for error in form.first_name.errors %}
			<span>{{ error }}</span>
			{% endfor %}
		</div>
		{% else %}
			{{ form.first_name(class="poke") }}
		{% endif %}
		<br><br>
				{{ form.last_name.label }}<br>
		{% if form.last_name.errors %}
		{{ form.last_name }}
		<div class="error">
			{% for error in form.last_name.errors %}
			<span>{{ error }}</span>
			{% endfor %}
		</div>
		{% else %}
			{{ form.last_name(class="poke") }}
		{% endif %}
		<br><br>

		{{ form.email.label }}<br>
		{% if form.email.errors %}
		{{ form.email }}
		<div class="error">
			{% for error in form.email.errors %}
			<span>{{ error }}</span>
			{% endfor %}
		</div>
		{% else %}
			{{ form.email(class="poke") }}
		{% endif %}

		<br><br>

		{{ form.password.label }}<br>
		{% if form.password.errors %}
		{{ form.password }}
		<div class="error">
			{% for error in form.password.errors %}
			<span>{{ error }}</span>
			{% endfor %}
		</div>
		{% else %}
			{{ form.password(class="poke") }}
		{% endif %}

		<br><br>

		{{ form.confirmpassword.label }}<br>
		{% if form.confirmpassword.errors %}
		{{ form.confirmpassword }}
		<div class="error">
			{% for error in form.confirmpassword.errors %}
			<span>{{ error }}</span>
			{% endfor %}
		</div>
		{% else %}
			{{ form.confirmpassword(class="poke") }}
		{% endif %}

		<br><br>

		{{ form.submit(class="poke") }}
	</form>
</div>
</div>


{% endblock body_content %}