{% extends "layout.html" %}
{% block body_content %}
<div class="accounts">
	<h1>Update Pokemon</h1>
	<p>Change the level of your Pokemon!</p>

	
	<div>
		<form action="/update/{{ post.id }}", method="POST">

		{{ form.hidden_tag() }}
		{{ form.level.label }}<br>
		{% if form.level.errors %}
		{{ form.level }}
		<div class="error">
			{% for error in form.level.errors %}
			<span>{{ error }}</span>
			{% endfor %}
		</div>
		{% else %}
			{{ form.level(class="poke") }}
		{% endif %}
		<br><br>
		{{ form.submit(class="poke") }}
		</form>
	</div></div>

{% endblock body_content %}